body {
  padding: 4.5rem;
  background-color: #F5EEDE;
  font-family: 'Lucida Sans',
    'Lucida Sans Regular',
    'Lucida Grande',
    'Lucida Sans Unicode',
    Geneva,
    Verdana,
    sans-serif;
}

.spacer {
  margin: 0;
  padding: 0;
  height: 40px;
}
